name: Build

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**/.idea/**'
      - '**/README.md'
      - '**/.gitignore'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**/.idea/**'
      - '**/README.md'
      - '**/.gitignore'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Free disk space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          large-packages: false
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: corretto
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build and test plugin
        run: ./gradlew check buildPlugin
      - name: Collect test results
        if: ${{ failure() }}
        uses: actions/upload-artifact@v6
        with:
          name: tests-result
          path: ${{ github.workspace }}/build/reports/tests
      - name: Prepare plugin artifact
        id: artifact
        shell: bash
        run: |
          cd ${{ github.workspace }}/build/distributions
          FILENAME=`ls *.zip`
          unzip "$FILENAME" -d content
          echo "filename=${FILENAME:0:-4}" >> $GITHUB_OUTPUT
      - name: Upload plugin artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.artifact.outputs.filename }}
          path: ./build/distributions/content/**

  verify:
    name: Verify
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Free disk space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          large-packages: false
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: corretto
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: true
      - name: Verify plugin
        run: ./gradlew verifyPlugin
      - name: Collect Plugin Verifier results
        if: ${{ always() }}
        uses: actions/upload-artifact@v6
        with:
          name: plugin-verifier-result
          path: ${{ github.workspace }}/build/reports/pluginVerifier
